@media screen and (max-width: 768px) {
    main {
      font-size: 14px;
    }

    .hero{
      background-color:#495E57;
      padding: 2rem;
  }

  .hero .container{
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;

      padding-left: 1%;
      padding-right: 1%;
      text-align: center;
  }

  .hero h1{
    font-size: 3rem;
  }

  .hero h3{
    font-size: 2rem;
  }

  .hero p{
    font-size: 1rem;
}

.hero button{
  margin-top: -0.5rem;
}

  Main p{
      line-height: 1;
  }

  Main h1{
      font-size: 2rem;
  }

  Main h3{
    font-size: 1.5rem;
  }

  Main h2{
    font-size: 1rem;
  }

  Main button{
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

 /*Nav*/

 main .header-bar {
  display:inline;
}

 Nav .nav-item{
  display: flex;
  margin: auto;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}



/*This Weeks Specials*/

  .highlights {
    padding: 3rem;
}

.highlights #dimageid {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 228px;
    justify-content: center;
    align-items: center;
}

.highlights .dcards{
    display: flex;
    flex-direction: column;
    padding: 0 0%;
}
.highlights #dcardid{
    background-color: #DEDEDE;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}


.highlights p,h4,a{
    padding: 10px 20px 20px 20px;
    color: black;
}

.highlights h3{
  padding: 10px 10px 5px 10px;
  color: black;
}

.highlights .title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlights button{
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 23px;
    background: #F4CE14;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
}

/*Testimonials*/

.testimonials .tcards{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.testimonials #tcardid{
    background-color: #ffffff;
    border-radius: 10px;
}

.testimonials p{
  font-style: italic;
}
.testimonials .namebox{
  padding-top: 20px;
}

.testimonials h4{
  padding: 0px 10px 0px 0px;
}

.testimonials h1{
  color: #F4CE14;
  margin-top: -20px;
  margin-bottom: 20px;
}

/*About Us*/

.about-us {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-us h1{
  padding: 0 10% 0 10%;
}

.about-us h4{
  padding: 0 20% 5% 20%;
}

.img1{
  width: 100%;
  margin: auto;
  transform: translatey(0px);
  transform: translatex(0rem);
}

.img2{
  width: 100%;
  transform: translatex(0px);
}

.about-us .images{
  flex: 1;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
}


/*Footer*/
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.doormat-menu ul{
  display: flex;
  flex-direction: column;
}

  }

