footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #495E57;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}

li{
    list-style-type: none;
}

footer a{
    color: white;
    text-decoration: none;
}
 a:hover{
    color: #F4CE14;
}
