
@font-face {
    font-family: 'YourFontName';
    src: url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap') format('truetype');
    /* Add additional formats for cross-browser compatibility if necessary */
  }

*{
    font-family: 'Markazi Text';
}


.hero{
    background-color:#495E57;
    padding: 3rem;
}

.hero .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}


 .hero button{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 10px 30px;
    border-radius: 23px;
    background: #F4CE14;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.3rem;
    cursor: pointer;
}

.hero button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 3px solid black ;
}


.hero p{
    color:white;
    margin-top: 1rem;
    line-height: 1.5;
    font-style: italic;
}

.hero h1{
    color: #F4CE14;
    font-size: 4rem;
}

.hero h3{
    color: #F7F1F1;
    font-size: 3rem;
}

.hero p{
    font-size: 1.5rem;
}

.hero img{
    width: 100%;
}

/*This weeks special*/

.highlights {
    padding: 3rem;
}

.highlights #dimageid {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 228px;
    justify-content: center;
    align-items: center;
}

.highlights .dcards{
    display: flex;
    padding: 0 10%;
    
}

.highlights #dcardid{
    background-color: #DEDEDE;
    border-radius: 10px;
    margin: 10px;
}


.highlights h2,p,h4,a{
    padding: 10px 20px 20px 20px;
    color: black;
}

.highlights h3{
    padding: 15px 20px 10px 20px;
    color: black;
}

.highlights .title{
    display: flex;
    justify-content: space-around
}

.highlights button{
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 23px;
    background: #F4CE14;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.3rem;
    cursor: pointer;
}


/*Testimonials*/

.testimonials {
    padding: 3rem;
    background-color: #495E57;;
    text-align: center;
}

.testimonials #timageid {
    width: 100px;
    height: auto;
}

.testimonials .tcards{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}
.testimonials #tcardid{
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
}

.testimonials p{
    font-style: italic;
}
.testimonials .namebox{
    padding-top: 20px;
}

.testimonials h4{
    padding: 0px 10px 0px 0px;
}

.testimonials h1{
    color: #F4CE14;
    margin-bottom: 20px;
}

/*About Us*/

.about-us{
    display: flex;
    padding: 5% 10%;
    align-items: center;
    justify-content: center;
}

.about-us .description{
    flex: 1;
}
.about-us .images{
    flex: 1;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.about-us h1{
    font-size: 4rem;
}
.img1{
    width: 250px;
    transform: translatey(100px);
    transform: translatex(rem);
}

.img2{
    width: 250px;
    transform: translatex(-100px);
}




